<a href="https://colab.research.google.com/github/gucervus/Blue-Edtech/blob/main/09_CodeLabs_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Math multiplication table

In [ ]:
def mathTable(number):
  print()

  for c in range(10+1):
    print(f"{c} x {number} = {c*number}")

number = int(input('choose a number for multiplication table: '))
mathTable(number)

### 2. Decreasing order counter

In [ ]:
for c in range(10,0,-1):
  print(c, end=' ')

### 3. civil status accountant of 15 people, being them (single / married)

In [ ]:
singleAccaunt = 0
marriedAccaunt = 0
wrongAnswer = 0

for i in range(3):
  maritalStatus = input('waths your marital status?[single/married]: ').lower()
  if (maritalStatus == 'married'):
    marriedAccaunt+=1
  elif (maritalStatus == 'single'):
    singleAccaunt+=1
  # handling error
  elif (maritalStatus != 'single' or maritalStatus!= 'married'):
    print('invalid response, try again...')
    wrongAnswer +=1
    newAttempt = [input(f'waths your marital status? [single/married]: ') for i in range(wrongAnswer)]
    
    newAttemptMarried = 0
    newAttemptSingle = 0

    for c in newAttempt: 
      if ('married' in newAttempt):
        newAttemptMarried+=1 
      elif ('single' in newAttempt):
        newAttemptSingle+=1

    singleAccaunt += newAttemptSingle
    marriedAccaunt += newAttemptMarried

print() 
print(f'the number of singles is: {marriedAccaunt}.')
print(f'the number of married is: {singleAccaunt}.')
print(f'the wrong answers : {wrongAnswer}')

In [ ]:
s

### 4. Print "Go Blue" ten times.

In [ ]:
for c in range(1,10+1):
  print(f'{c}°: Go Blue')

### 5. Odd values ​​from 1 to 20

In [ ]:
for c in range(0,20):
  if (c % 2 == 1):
    print(c, end=' ')

### 6. Price list for 50 breads

In [ ]:
def priceTable(valueBread):
  print()

  print('yesterday bakery bread - Price Table')

  for c in range(1, 50+1):
    print(f"{c} - {c*valueBread:.2f}")

valueBread = float(input('enter the value of the bread '))
priceTable(valueBread)

### 7. Using lists, make a program that asks a person 5 questions about a crime. The questions are:

    . "Did you call the victim?"
    . "Were you at the crime scene?"
    . "Do you live close to the victim?"
    . "Did you owe money to the victim?"
    . "Have you worked with the victim?"

### If the person responds positively to 2 questions he should be classified as "Suspect", between 3 and 4 as "Accomplice" and 5 as "Assassin". Otherwise, he will be classified as "Innocent".

In [ ]:
answers = ['did you call the victim?','were you at the crime scene?',
             'do you live close to the victim', 'did you owe money to the victim',
             'have you wordked with the victim']

yesAccaunt = 0
noAccaunt = 0
result = ''

print('answer the questions whith [yes/no]: ')
for answer in answers:
  userAnswers = input(f'{answer}: ').lower()

# Accaunting
  if (userAnswers == 'yes'):
    yesAccaunt+=1
  elif (userAnswers == 'no'):
    noAccaunt+=1
  else:
    print('invalid response')
  
#evaluating suspicious
  if (yesAccaunt == 2):
    result = 'suspect'
  elif (yesAccaunt >= 3 and yesAccaunt <= 4):
    result = 'accomplice'
  elif (yesAccaunt == 5):
    result = 'assassin'

print()
print(f'positive: {yesAccaunt}')
print(f'negative: {noAccaunt}')
print(result)

# 8. Display all possible guesses from the mega seine
    • Data:
       • Each guess has 6 dozen
       • Tens range from 1 to 60
       • Cannot repeat ten

In [ ]:
total = 0

for firstTen in range(1,61):
  for secondTen in range(firstTen+1,61): 
    for thirdTen in range(secondTen+1,61):
      for fourthTen in range(thirdTen+1,61):
        for fifithTen in range(fourthTen+1,61):
          for sixthTen in range(fifithTen+1,61):

            #this command performs all possibilities
            # print(f'{firstTen} {secondTen} {thirdTen} {fourthTen} {fifithTen} {sixthTen}') 
            
            total+=1

print(total)


### Challenge 01

In [ ]:
# First form
for i in range(1000,10000):

  firstPart = i // 100
  secondPart = i % 100

  if (firstPart + secondPart)**2 == i:
    print(i)

In [ ]:
# Second form
for i in range(32, 100): 
  
  dezena2 = (i*i)%100 
  dezena1 = int(i*i/100)

  if dezena1+dezena2 == i:
     print(f'{i}^2: {i*i}')

### Challenge 02

In [ ]:
subjectNumber = int(input('whats the subject numbers?: '))
print()

grades = [float(input(f'{i}° subject: grade = ')) for i in range(1,subjectNumber+1)]

sum = 0
for eachGrade in grades:
  sum += eachGrade
  mean = sum/len(grades)

print()
print(f"the final mean is: {mean:.2f}")